<% include ../header %>

  <nav class="navbar navbar-light" style="background-color: #0080ff;">
    <div class="container">
      <span class="navbar-brand mb-0 h1" style="color:#f9fcff;">Tapioca</span>
    </div>
  </nav>
  <div class="container " style="margin-top: 20px;">
    <section>
      <form action="/resultado" method="post">
        <div class="row">
          <div class="col">
            <input type="text" class="form-control" name="usuario[nota1]" id="nota1" placeholder="Primeira nota">
          </div>
          <div class="col">
            <input type="text" class="form-control" name="usuario[nota2]" id="nota2" placeholder="Segunda nota">
          </div>
          <div class="col">
            <input type="text" class="form-control" name="usuario[nota3]" id="nota3" placeholder="Terceira nota">
          </div>
          <button type="submit" class="btn btn-dark">Calcular</button>
        </div>
      </form>
    </section>
  </div>