<% include ../header %>
    <style>
        #principal {
            height: 982px;
            padding-top: 50px;
            background: #a9c2d8;
        }

        p {
            font-family: 'Bree Serif', 'Arial Narrow', Arial, sans-serif;
            font-size: 60px;
        }

        .voltar {
            padding-top: 20px;
        }

        button {
            color: #dee5ed !important;
            background-color: #a84ea4 !important
        }
    </style>
    <div class="container-fluid" id="principal">
        <div class="text-center">
            <p>Sua média foi</p>
        </div>
        <div class="text-center">
            <p class="text-center">
                <%=result.toFixed(2) %>

            </p>
        </div>
        <div class="text-center">
            <h2>
                <%= params %>
            </h2>
        </div>
        <div class="text-center voltar">
            <a href="/voltar">
                <button class="btn btn-link">Voltar</button>
            </a>
        </div>
    </div>